<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de productos</title>
     <link rel="stylesheet" href="/css/style.css">
<!--     <link rel="stylesheet" href="/css/ventaderopa.css">
    <link rel="stylesheet" href="/css/footer.css"> -->
</head>
<body>
    <%-include('partials/header')%>

    <main>
        <ul>
            <% productos.forEach(producto => { %>
                <li class="producto">
                <img src="/images/<%= producto.imagen %>" alt="Imagen de <%= producto.marca %>">
                <div class="contenido">
                    <h2>Artículo: <%= producto.articulo %></h2>
                    <!-- <h3>Modelo: <%= producto.modelo %></h3> -->
                    <p>Precio: $<%= producto.precio %></p>
                    <a href="/edit/<%=producto.id%>">Editar</a>
                     <a href="/delete/<%=producto.id%>?_method=DELETE">Eliminar</a>
                </div>
                </li>
            <% }) %>
        </ul>
        <a href="/create" id="crear">Crear un producto</a>
    </main>



    <%-include('partials/footer')%>
</body>
</html>